* {
    box-sizing: border-box;
}
a:hover {
    text-decoration: underline;
}

a, a:visited, a:active {
    text-decoration: none;
    color: blue;
}

h1 {
    color: ghostwhite;
}

h2 {
    padding: 1% 1% 0 0;
}

body { /*perhaps move styling from body to top class right after body*/
    background: slategray;
    margin: 0 auto; 
    padding: 1%;  /* Maybe change to something else to space content in*/
    padding-top: 40px;
    width: 80%;
}
header {
    background: lightslategray;
    position: relative;
}
nav {
    background-color: #7a7a7a;
    position: fixed;
    top: 0px;
    text-align: center;
    float: left;
    width: 100%;
    z-index: 1;
}

.link-container {
    padding: 0px 0px;
    text-align: center;
    float: none;
}

.links {
    display: inline-block;
    width: auto auto;
    margin: 10px;
}


.container {
    padding: 40px 0px;
}